{% extends 'main_app/base.html' %}

{% block content %}
<h1 class="cover-heading">Listing Application</h1>

<div style="text-align:left">

<div class="row">
  <div class="col-sm">
    <p>{{ listing_detail.item_of_interest }}</p>
    <p>{{ listing_detail.price }}</p>
    <p>{{ listing_detail.proposed_date }}</p>
  
    <p>Author: {{ listing_detail.created_by.username }}</p>
  </div>

  <div class="col-sm">
    <p>List of users</p>
    {% if listing_detail.current_users.all %}
    <ol>
      {% for user in listing_detail.current_users.all %}
      <li>
        <div>
          <p>ID: <a href="#">{{ user.id }}</a></p>
          <p>Username: {{ user.username }}</p>
          <p>First name: {{ user.first_name }}</p>
          <p>E-mail: {{ user.email }}</p>
        </div>
      </li>
      {% endfor %}
    </ol>
    {% else %}
    <p>No user in here yet.</p>
    {% endif %}
  </div>

  <div class="col-sm">
    <p>General Data</p>
    <ul>
      {% for data in listing_general_data %}
      <li>
        <a href="{% url 'main_app:read_or_update_in_general_table' data.id %}">
          {{ data.description }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <p class="lead">
      <a href="{% url 'main_app:add_into_general_table' %}" class="btn btn-sm btn-secondary">Add General Data</a>
    </p>
    <p>Date Data</p>
    <ul>
      {% for data in listing_date_data %}
      <li>
        {{ data.description }}
      </li>
      {% endfor %}
    </ul>
    <p>Time Data</p>
    <ul>
      {% for data in listing_time_data %}
      <li>
        {{ data.description }}
      </li>
      {% endfor %}
    </ul>
    <p>Price Data</p>
    <ul>
      {% for data in listing_price_data %}
      <li>
        {{ data.description }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

</div>

{% endblock %}